@charset "UTF-8";
@import url("/resources/style/style_Reset.css");

header{
	height: 250px;
	overflow: visible;
}

div#wrap {
	width: 1200px;
	min-height: 1200px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
/*     z-index: 6; */
}

iframe#headerIfm {
	width: 100%;
	height: 450px;
   /*  position: relative; */

}

iframe#footerIfm {
	width: 100%;
}

div#sideMenu{
width: 200px;
	margin-top: 50px;
	/* 수정함 */
	position: relative;

}
div#sideMenu ul {
	position: sticky;
	top:0;
}
div#sideMenu li{
	padding: 20px;
}

